absl-py==0.12.0
numpy>=1.18
jax>=0.2.6
jaxlib>=0.1.68
pytest
tqdm>=4.62.3
flax
dm-haiku==0.0.5
optax>=0.0.9
tensorflow>=2.7.0
tensorflow-datasets>=4.4.0
tensorflow-metadata==1.5.0
tensorflow-probability>=0.16.0
tensorboard>=2.7.0
gin-config>=0.5.0
seqio>=0.0.7
oryx
